body {
    background: #DEA68E;
}

.container {
    width: 90%;
    height: 80vh;
    display: flex;
    text-align: center;

}

.quote {
    border: 10px solid #9865E6;
    width: 85%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: white;
    background-color: #8DBDFC;


}

.quote p{ 
    font-size: 2rem;
    width: 90%;
}

.quote h3 {
    font-size: 1.5rem;
    font-style: italic;
}

.button {
    text-align: center;
    height: 10vh;
    

}

button {
    width: 30%;
    height: 100%;
    font-size: 1.5rem;
}

.links {
    margin: auto;
    margin-top: 10px;
    height: 5vh;
    width: 10vh;

}

.links img {
    display: block;
    margin: auto;
    opacity: 50%;
    width: 10vh;
    height: 5vh;
}

.links img:hover {
    opacity: 100%;
}

@media(max-width:480px) {
    .quote p, .quote h3{ 
        font-size: 1rem;
    }
    
}